@import "./base.css";

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  background: #fffefb;
  color: #3b3c3d;
  font-size: 14px;
  letter-spacing: 0.5px;
}
